In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_csv("train.csv")

   age           job  marital education_qual call_type  day  mon  dur  \
0   58    management  married       tertiary   unknown    5  may  261
1   44    technician   single      secondary   unknown    5  may  151
2   33  entrepreneur  married      secondary   unknown    5  may   76
3   47   blue-collar  married        unknown   unknown    5  may   92
4   33       unknown   single        unknown   unknown    5  may  198

   num_calls prev_outcome   y
0          1      unknown  no
1          1      unknown  no
2          1      unknown  no
3          1      unknown  no
4          1      unknown  no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45211 non-null  int64
 1   job             45211 non-null  object
 2   marital         45211 non-null  object
 3   education_qual  45211 non-null  object
 4   call_type       45211 non-null  object
 5   day             45211 non-null  int64
 6   mon             45211 non-null  object
 7   dur             45211 non-null  int64
 8   num_calls       45211 non-null  int64
 9   prev_outcome    45211 non-null  object
 10  y               45211 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.8+ MB
None
age               0
job               0
marital           0
education_qual    0
call_type         0
day               0
mon               0
dur               0
num_calls         0
prev_outcome      0
y                 0
dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [3]:
# Explore the first few rows of the dataset
print(data.head())

   age           job  marital education_qual call_type  day  mon  dur  \
0   58    management  married       tertiary   unknown    5  may  261
1   44    technician   single      secondary   unknown    5  may  151
2   33  entrepreneur  married      secondary   unknown    5  may   76
3   47   blue-collar  married        unknown   unknown    5  may   92
4   33       unknown   single        unknown   unknown    5  may  198

   num_calls prev_outcome   y
0          1      unknown  no
1          1      unknown  no
2          1      unknown  no
3          1      unknown  no
4          1      unknown  no

In [4]:
# Get information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45211 non-null  int64
 1   job             45211 non-null  object
 2   marital         45211 non-null  object
 3   education_qual  45211 non-null  object
 4   call_type       45211 non-null  object
 5   day             45211 non-null  int64
 6   mon             45211 non-null  object
 7   dur             45211 non-null  int64
 8   num_calls       45211 non-null  int64
 9   prev_outcome    45211 non-null  object
 10  y               45211 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.8+ MB
None

In [5]:
# Check for any missing values
print(data.isnull().sum())

age               0
job               0
marital           0
education_qual    0
call_type         0
day               0
mon               0
dur               0
num_calls         0
prev_outcome      0
y                 0
dtype: int64

In [6]:
# Explore the distribution of the target variable
print(data['y'].value_counts())

no     39922
yes     5289
Name: y, dtype: int64

In [8]:
# Check column names and remove leading/trailing whitespaces
print(data.columns)
data.columns = data.columns.str.strip()

Index(['age', 'job', 'marital', 'education_qual', 'call_type', 'day', 'mon',
       'dur', 'num_calls', 'prev_outcome', 'y'],
      dtype='object')

In [1]:
# Encode categorical variables
data = pd.get_dummies(data, columns=['job', 'marital', 'education_qual', 'call_type', 'prev_outcome'], drop_first=True)

NameError: name 'pd' is not defined

In [12]:
# Check column names and remove leading/trailing whitespaces
print(data.columns)
data.columns = data.columns.str.strip()

# Verify the existence of the specified columns
specified_columns = ['job', 'marital', 'education_qual', 'call_type', 'prev_outcome']
missing_columns = [col for col in specified_columns if col not in data.columns]

if len(missing_columns) == 0:
    # Encode categorical variables
    data = pd.get_dummies(data, columns=specified_columns, drop_first=True)
else:
    print(f"The following columns are missing: {missing_columns}")

Index(['age', 'day', 'mon', 'dur', 'num_calls', 'y', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown', 'marital_married', 'marital_single',
       'education_qual_secondary', 'education_qual_tertiary',
       'education_qual_unknown', 'call_type_telephone', 'call_type_unknown',
       'prev_outcome_other', 'prev_outcome_success', 'prev_outcome_unknown'],
      dtype='object')
The following columns are missing: ['job', 'marital', 'education_qual', 'call_type', 'prev_outcome']